/* line 5, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg#Proxima Nova") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-bold.eot");
  src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg#Proxima Nova") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../scss/partials/_typography.scss */
.lightText {
  margin-bottom: 0.78em;
  color: #969696;
  text-transform: uppercase;
}

/* line 13, ../scss/partials/_typography.scss */
.primeText {
  margin-left: 74px;
  color: #2b79ec;
}

/* line 18, ../scss/partials/_typography.scss */
.smallText, .titleWrap {
  font-size: 0.9em;
}

/* line 22, ../scss/partials/_typography.scss */
.middleText {
  font-size: 1.25em;
}

/* line 26, ../scss/partials/_typography.scss */
.bigText {
  font-size: 1.56em;
}

/* line 31, ../scss/partials/_typography.scss */
[class*="icon-"] {
  width: 60px;
  margin-right: 0.34em;
  text-align: left;
  font-family: 'Icons';
  font-size: 2.56em;
  color: #2b79ec;
}
@media only screen and (max-width: 550px) {
  /* line 31, ../scss/partials/_typography.scss */
  [class*="icon-"] {
    font-size: 3.4em;
  }
}

/* line 44, ../scss/partials/_typography.scss */
.icon-activity:before {
  content: "\e600";
}

/* line 46, ../scss/partials/_typography.scss */
.icon-alert:before {
  content: "\e601";
}

/* line 48, ../scss/partials/_typography.scss */
.icon-alert-circle:before {
  content: "\e602";
}

/* line 50, ../scss/partials/_typography.scss */
.icon-anchor:before {
  content: "\e603";
}

/* line 52, ../scss/partials/_typography.scss */
.icon-arr-down:before {
  content: "\e604";
}

/* line 54, ../scss/partials/_typography.scss */
.icon-arr-left:before {
  content: "\e605";
}

/* line 56, ../scss/partials/_typography.scss */
.icon-arr-right:before {
  content: "\e606";
}

/* line 58, ../scss/partials/_typography.scss */
.icon-arr-round-down:before {
  content: "\e607";
}

/* line 60, ../scss/partials/_typography.scss */
.icon-arr-round-left:before {
  content: "\e608";
}

/* line 62, ../scss/partials/_typography.scss */
.icon-arr-round-right:before {
  content: "\e609";
}

/* line 64, ../scss/partials/_typography.scss */
.icon-arr-round-up:before {
  content: "\e60a";
}

/* line 66, ../scss/partials/_typography.scss */
.icon-arr-up:before, .icon-arr-down:before {
  content: "\e60b";
}

/* line 68, ../scss/partials/_typography.scss */
.icon-baby:before {
  content: "\e60c";
}

/* line 70, ../scss/partials/_typography.scss */
.icon-badge:before {
  content: "\e60d";
}

/* line 72, ../scss/partials/_typography.scss */
.icon-bankruptcy:before {
  content: "\e60e";
}

/* line 74, ../scss/partials/_typography.scss */
.icon-blank:before {
  content: "\e60f";
}

/* line 76, ../scss/partials/_typography.scss */
.icon-book:before {
  content: "\e610";
}

/* line 78, ../scss/partials/_typography.scss */
.icon-books:before {
  content: "\e611";
}

/* line 80, ../scss/partials/_typography.scss */
.icon-broken-heart:before {
  content: "\e612";
}

/* line 82, ../scss/partials/_typography.scss */
.icon-business:before {
  content: "\e613";
}

/* line 84, ../scss/partials/_typography.scss */
.icon-cake:before {
  content: "\e614";
}

/* line 86, ../scss/partials/_typography.scss */
.icon-calendar:before {
  content: "\e615";
}

/* line 88, ../scss/partials/_typography.scss */
.icon-call:before {
  content: "\e616";
}

/* line 90, ../scss/partials/_typography.scss */
.icon-car:before {
  content: "\e617";
}

/* line 92, ../scss/partials/_typography.scss */
.icon-certificate:before {
  content: "\e618";
}

/* line 94, ../scss/partials/_typography.scss */
.icon-check:before {
  content: "\e619";
}

/* line 96, ../scss/partials/_typography.scss */
.icon-checkbox:before {
  content: "\e61a";
}

/* line 98, ../scss/partials/_typography.scss */
.icon-classmates:before {
  content: "\e61b";
}

/* line 100, ../scss/partials/_typography.scss */
.icon-client:before {
  content: "\e61c";
}

/* line 102, ../scss/partials/_typography.scss */
.icon-coins:before {
  content: "\e61d";
}

/* line 104, ../scss/partials/_typography.scss */
.icon-couple:before {
  content: "\e61e";
}

/* line 106, ../scss/partials/_typography.scss */
.icon-court:before {
  content: "\e61f";
}

/* line 108, ../scss/partials/_typography.scss */
.icon-court-hammer:before {
  content: "\e620";
}

/* line 110, ../scss/partials/_typography.scss */
.icon-credit-card:before, .icon-credit-card-disable:before {
  content: "\e621";
}

/* line 112, ../scss/partials/_typography.scss */
.icon-cup:before {
  content: "\e622";
}

/* line 114, ../scss/partials/_typography.scss */
.icon-dashboard:before {
  content: "\e623";
}

/* line 116, ../scss/partials/_typography.scss */
.icon-delete:before {
  content: "\e624";
}

/* line 118, ../scss/partials/_typography.scss */
.icon-directions:before {
  content: "\e625";
}

/* line 120, ../scss/partials/_typography.scss */
.icon-documents:before, .icon-document-check:before {
  content: "\e626";
}

/* line 122, ../scss/partials/_typography.scss */
.icon-dog:before {
  content: "\e627";
}

/* line 124, ../scss/partials/_typography.scss */
.icon-dollar:before {
  content: "\e628";
}

/* line 126, ../scss/partials/_typography.scss */
.icon-dollar-coin:before {
  content: "\e629";
}

/* line 128, ../scss/partials/_typography.scss */
.icon-download:before {
  content: "\e62a";
}

/* line 130, ../scss/partials/_typography.scss */
.icon-earth:before {
  content: "\e62b";
}

/* line 132, ../scss/partials/_typography.scss */
.icon-edit:before {
  content: "\e62c";
}

/* line 134, ../scss/partials/_typography.scss */
.icon-email:before {
  content: "\e62d";
}

/* line 136, ../scss/partials/_typography.scss */
.icon-email-open:before {
  content: "\e62e";
}

/* line 138, ../scss/partials/_typography.scss */
.icon-eye:before {
  content: "\e62f";
}

/* line 140, ../scss/partials/_typography.scss */
.icon-family:before {
  content: "\e630";
}

/* line 142, ../scss/partials/_typography.scss */
.icon-fingerprint:before {
  content: "\e631";
}

/* line 144, ../scss/partials/_typography.scss */
.icon-flag:before {
  content: "\e632";
}

/* line 146, ../scss/partials/_typography.scss */
.icon-flash:before {
  content: "\e633";
}

/* line 148, ../scss/partials/_typography.scss */
.icon-folders:before {
  content: "\e634";
}

/* line 150, ../scss/partials/_typography.scss */
.icon-group:before {
  content: "\e635";
}

/* line 152, ../scss/partials/_typography.scss */
.icon-handcuffs:before {
  content: "\e636";
}

/* line 154, ../scss/partials/_typography.scss */
.icon-heart:before {
  content: "\e637";
}

/* line 156, ../scss/partials/_typography.scss */
.icon-help:before {
  content: "\e638";
}

/* line 158, ../scss/partials/_typography.scss */
.icon-hermes:before {
  content: "\e639";
}

/* line 160, ../scss/partials/_typography.scss */
.icon-history:before {
  content: "\e63a";
}

/* line 162, ../scss/partials/_typography.scss */
.icon-home:before {
  content: "\e63b";
}

/* line 164, ../scss/partials/_typography.scss */
.icon-identity:before {
  content: "\e63c";
}

/* line 166, ../scss/partials/_typography.scss */
.icon-info:before {
  content: "\e63d";
}

/* line 168, ../scss/partials/_typography.scss */
.icon-key:before {
  content: "\e63e";
}

/* line 170, ../scss/partials/_typography.scss */
.icon-lifebuoy:before {
  content: "\e63f";
}

/* line 172, ../scss/partials/_typography.scss */
.icon-location:before {
  content: "\e640";
}

/* line 174, ../scss/partials/_typography.scss */
.icon-lock:before {
  content: "\e641";
}

/* line 176, ../scss/partials/_typography.scss */
.icon-lock-round:before {
  content: "\e642";
}

/* line 178, ../scss/partials/_typography.scss */
.icon-marriage:before {
  content: "\e643";
}

/* line 180, ../scss/partials/_typography.scss */
.icon-membership:before {
  content: "\e644";
}

/* line 182, ../scss/partials/_typography.scss */
.icon-message:before {
  content: "\e645";
}

/* line 184, ../scss/partials/_typography.scss */
.icon-minimize:before {
  content: "\e646";
}

/* line 186, ../scss/partials/_typography.scss */
.icon-monitoring:before {
  content: "\e647";
}

/* line 188, ../scss/partials/_typography.scss */
.icon-move-right:before {
  content: "\e648";
}

/* line 190, ../scss/partials/_typography.scss */
.icon-network:before {
  content: "\e649";
}

/* line 192, ../scss/partials/_typography.scss */
.icon-notebook:before {
  content: "\e64a";
}

/* line 194, ../scss/partials/_typography.scss */
.icon-off:before {
  content: "\e64b";
}

/* line 196, ../scss/partials/_typography.scss */
.icon-open-folder:before {
  content: "\e64c";
}

/* line 198, ../scss/partials/_typography.scss */
.icon-people:before, .icon-search-person:before {
  content: "\e64d";
}

/* line 200, ../scss/partials/_typography.scss */
.icon-phone:before {
  content: "\e64e";
}

/* line 202, ../scss/partials/_typography.scss */
.icon-pie:before {
  content: "\e64f";
}

/* line 204, ../scss/partials/_typography.scss */
.icon-plane:before {
  content: "\e650";
}

/* line 206, ../scss/partials/_typography.scss */
.icon-pointer:before {
  content: "\e651";
}

/* line 208, ../scss/partials/_typography.scss */
.icon-print:before {
  content: "\e652";
}

/* line 210, ../scss/partials/_typography.scss */
.icon-quotation:before {
  content: "\e653";
}

/* line 212, ../scss/partials/_typography.scss */
.icon-quote:before {
  content: "\e654";
}

/* line 214, ../scss/partials/_typography.scss */
.icon-refresh:before {
  content: "\e655";
}

/* line 216, ../scss/partials/_typography.scss */
.icon-reload:before {
  content: "\e656";
}

/* line 218, ../scss/partials/_typography.scss */
.icon-rings:before {
  content: "\e657";
}

/* line 220, ../scss/partials/_typography.scss */
.icon-rip:before {
  content: "\e658";
}

/* line 222, ../scss/partials/_typography.scss */
.icon-road:before {
  content: "\e659";
}

/* line 224, ../scss/partials/_typography.scss */
.icon-sad-emotion:before {
  content: "\e65a";
}

/* line 226, ../scss/partials/_typography.scss */
.icon-scales:before {
  content: "\e65b";
}

/* line 228, ../scss/partials/_typography.scss */
.icon-search:before {
  content: "\e65c";
}

/* line 230, ../scss/partials/_typography.scss */
.icon-settings:before {
  content: "\e65d";
}

/* line 232, ../scss/partials/_typography.scss */
.icon-shackle:before {
  content: "\e65e";
}

/* line 234, ../scss/partials/_typography.scss */
.icon-shield:before {
  content: "\e65f";
}

/* line 236, ../scss/partials/_typography.scss */
.icon-signature:before {
  content: "\e660";
}

/* line 238, ../scss/partials/_typography.scss */
.icon-social:before {
  content: "\e661";
}

/* line 240, ../scss/partials/_typography.scss */
.icon-ssn:before {
  content: "\e662";
}

/* line 242, ../scss/partials/_typography.scss */
.icon-support:before {
  content: "\e663";
}

/* line 244, ../scss/partials/_typography.scss */
.icon-thief:before {
  content: "\e664";
}

/* line 246, ../scss/partials/_typography.scss */
.icon-thumb-up:before {
  content: "\e665";
}

/* line 248, ../scss/partials/_typography.scss */
.icon-tools:before {
  content: "\e666";
}

/* line 250, ../scss/partials/_typography.scss */
.icon-trash:before {
  content: "\e667";
}

/* line 252, ../scss/partials/_typography.scss */
.icon-trophey:before {
  content: "\e668";
}

/* line 254, ../scss/partials/_typography.scss */
.icon-umbrella:before {
  content: "\e669";
}

/* line 256, ../scss/partials/_typography.scss */
.icon-unkown-user:before {
  content: "\e66a";
}

/* line 258, ../scss/partials/_typography.scss */
.icon-unlock:before {
  content: "\e66b";
}

/* line 260, ../scss/partials/_typography.scss */
.icon-unvisible:before {
  content: "\e66c";
}

/* line 262, ../scss/partials/_typography.scss */
.icon-upgrade:before {
  content: "\e66d";
}

/* line 264, ../scss/partials/_typography.scss */
.icon-user:before {
  content: "\e66e";
}

/* line 266, ../scss/partials/_typography.scss */
.icon-user-blocked:before {
  content: "\e66f";
}

/* line 268, ../scss/partials/_typography.scss */
.icon-visible:before {
  content: "\e670";
}

/* line 270, ../scss/partials/_typography.scss */
.icon-work:before {
  content: "\e671";
}

/* line 272, ../scss/partials/_typography.scss */
.icon-search-person:after {
  content: "\e65c";
}

/* line 274, ../scss/partials/_typography.scss */
.icon-document-check:after {
  content: "\e65c";
}

/* line 276, ../scss/partials/_typography.scss */
.icon-credit-card-disable:after {
  content: "\e624";
}

/* line 9, ../scss/vendor/_globals.scss */
body {
  background: #fff;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 9, ../scss/vendor/_globals.scss */
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 9, ../scss/vendor/_globals.scss */
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 9, ../scss/vendor/_globals.scss */
  body {
    font-size: 15px;
  }
}

/* line 27, ../scss/vendor/_globals.scss */
.bold {
  font-weight: bold;
}

/* line 31, ../scss/vendor/_globals.scss */
.textLeft {
  text-align: left;
}

/* line 35, ../scss/vendor/_globals.scss */
.textRight {
  text-align: right;
}

/* line 39, ../scss/vendor/_globals.scss */
.textCenter {
  text-align: center;
}

/* line 43, ../scss/vendor/_globals.scss */
.floatR {
  float: right;
}

/* line 47, ../scss/vendor/_globals.scss */
.floatL {
  float: left;
}

/* line 51, ../scss/vendor/_globals.scss */
.displNone {
  display: none;
}

/* line 55, ../scss/vendor/_globals.scss */
.displBlock {
  display: block;
}

/* line 59, ../scss/vendor/_globals.scss */
.displInlineBl {
  display: inline-block;
}

/* line 1, ../scss/partials/_buttons.scss */
.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 7, ../scss/partials/_buttons.scss */
.btn:focus {
  outline: none;
}
/* line 11, ../scss/partials/_buttons.scss */
.btn:hover {
  color: #fff;
}

/* line 16, ../scss/partials/_buttons.scss */
.smallBtn {
  padding: 0.65em 2em 0.55em;
  font-size: 0.94em;
}
@media only screen and (max-width: 992px) {
  /* line 16, ../scss/partials/_buttons.scss */
  .smallBtn {
    padding: 1em 3.4em;
    font-size: 1.75em;
    font-weight: bold;
  }
}
@media only screen and (max-width: 720px) {
  /* line 16, ../scss/partials/_buttons.scss */
  .smallBtn {
    padding: 0.75em 2.75em;
  }
}
@media only screen and (max-width: 605px) {
  /* line 16, ../scss/partials/_buttons.scss */
  .smallBtn {
    padding: 0.57em 1.55em;
  }
}

/* line 35, ../scss/partials/_buttons.scss */
.bigBtn {
  padding: 0.74em 1.42em;
  font-size: 1.1875em;
  font-weight: bold;
}

/* line 41, ../scss/partials/_buttons.scss */
.updateBtn {
  background: #1ab86b;
  color: #fff;
  -moz-box-shadow: 1px 1px 0px #17a25e;
  -webkit-box-shadow: 1px 1px 0px #17a25e;
  box-shadow: 1px 1px 0px #17a25e;
}
/* line 17, ../scss/vendor/_mixins.scss */
.updateBtn:hover {
  background: #17a25e;
  color: #fff;
}

/* line 47, ../scss/partials/_buttons.scss */
.primeBtn {
  background: #fff;
  color: #2b79ec;
  -moz-box-shadow: 1px 1px 0px #f2f2f2;
  -webkit-box-shadow: 1px 1px 0px #f2f2f2;
  box-shadow: 1px 1px 0px #f2f2f2;
}
/* line 17, ../scss/vendor/_mixins.scss */
.primeBtn:hover {
  background: #f2f2f2;
  color: #5a97f0;
}

/* line 53, ../scss/partials/_buttons.scss */
.primeDarkBtn {
  background: #fff;
  color: #1550a4;
  -moz-box-shadow: 1px 1px 0px #f2f2f2;
  -webkit-box-shadow: 1px 1px 0px #f2f2f2;
  box-shadow: 1px 1px 0px #f2f2f2;
}
/* line 17, ../scss/vendor/_mixins.scss */
.primeDarkBtn:hover {
  background: #f2f2f2;
  color: #1b66d1;
}

/* line 59, ../scss/partials/_buttons.scss */
.primeLightkBtn {
  background: #e8e8e8;
  color: #646c6c;
  font-weight: normal;
  -moz-box-shadow: 1px 1px 0px #dbdbdb;
  -webkit-box-shadow: 1px 1px 0px #dbdbdb;
  box-shadow: 1px 1px 0px #dbdbdb;
}
/* line 17, ../scss/vendor/_mixins.scss */
.primeLightkBtn:hover {
  background: #dbdbdb;
  color: #fff;
}

/* line 66, ../scss/partials/_buttons.scss */
.btnQuestion {
  margin-top: 3px;
  padding: 0em 0.2em;
  font-size: 0.7em;
  font-family: 'Arial';
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 79, ../scss/partials/_buttons.scss */
.btnQuestion:hover {
  color: #d9d9d9;
  border-color: #d9d9d9;
}

/* line 85, ../scss/partials/_buttons.scss */
.viewAllBtn {
  display: inline-block;
  padding: 1.5em 0 1em 0;
  color: #2b79ec;
  cursor: pointer;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media only screen and (max-width: 992px) {
  /* line 85, ../scss/partials/_buttons.scss */
  .viewAllBtn {
    font-size: 1.2em;
    font-weight: bold;
  }
}
/* line 97, ../scss/partials/_buttons.scss */
.viewAllBtn:hover {
  color: #71a5f2;
}

/* line 102, ../scss/partials/_buttons.scss */
.roundBtn {
  position: absolute;
  right: -5px;
  margin-top: -60px;
}
@media only screen and (max-width: 1140px), (min-width: 1200px) and (max-width: 1330px) {
  /* line 102, ../scss/partials/_buttons.scss */
  .roundBtn {
    margin: 10px;
  }
}
/* line 111, ../scss/partials/_buttons.scss */
.roundBtn:before {
  font-size: 0.45em;
  padding: 1.1em;
  background: #e9e9e9;
  color: #fff;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 0px #f2f2f2;
  -webkit-box-shadow: 1px 1px 0px #f2f2f2;
  box-shadow: 1px 1px 0px #f2f2f2;
  cursor: pointer;
}
/* line 17, ../scss/vendor/_mixins.scss */
.roundBtn:before:hover {
  background: #f2f2f2;
  color: #fff;
}

/* line 1, ../scss/partials/_infoWrappers.scss */
.infoWrap {
  margin-top: 0.7em;
  padding: 1.25em 30px;
  background: #fff;
  border: 1px solid #ebebeb;
  -moz-box-shadow: 2px 2px 3px #ebebeb;
  -webkit-box-shadow: 2px 2px 3px #ebebeb;
  box-shadow: 2px 2px 3px #ebebeb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (max-width: 550px) {
  /* line 1, ../scss/partials/_infoWrappers.scss */
  .infoWrap {
    padding: 1.25em;
  }
}

/* line 14, ../scss/partials/_infoWrappers.scss */
.titleWrap {
  padding: 0em 30px;
}

/* line 19, ../scss/partials/_infoWrappers.scss */
.arrAddressWrap.icon-arr-round-right, .arrRelativeWrap.icon-arr-round-right {
  padding: 0.4em 0.5em;
  font-size: 2.25em;
  color: #d6d9db;
  cursor: pointer;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 26, ../scss/partials/_infoWrappers.scss */
.arrAddressWrap.icon-arr-round-right:hover, .arrRelativeWrap.icon-arr-round-right:hover {
  color: #adb3b7;
}

/* line 31, ../scss/partials/_infoWrappers.scss */
.arrAddressWrap.icon-arr-round-right {
  position: absolute;
  right: 20px;
}

/* line 36, ../scss/partials/_infoWrappers.scss */
.arrRelativeWrap.icon-arr-round-right {
  float: right;
  margin-right: -10px;
}

/* line 41, ../scss/partials/_infoWrappers.scss */
.primInfWrap {
  margin-left: -15px;
  background: #2b79ec;
}

/* line 47, ../scss/partials/_infoWrappers.scss */
.primDarkInfWrap {
  margin-right: -15px;
  background: #1550a4;
}

/* line 52, ../scss/partials/_infoWrappers.scss */
.primInfWrap, .primDarkInfWrap {
  margin-top: 2em;
  padding: 3.75em 4.5em;
  text-align: center;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 59, ../scss/partials/_infoWrappers.scss */
.primInfWrap h2, .primDarkInfWrap h2 {
  padding-bottom: 1.14em;
  font-size: 1.875em;
  font-weight: bold;
  line-height: 1.25em;
}
/* line 66, ../scss/partials/_infoWrappers.scss */
.primInfWrap p, .primDarkInfWrap p {
  padding: 0 1.67em 2.25em;
  font-size: 1.125em;
  line-height: 1.3em;
}
@media only screen and (max-width: 1200px) {
  /* line 52, ../scss/partials/_infoWrappers.scss */
  .primInfWrap, .primDarkInfWrap {
    padding: 3.75em 2.3em;
  }
}

/* line 1, ../scss/partials/_sectionTitles.scss */
.titleSection {
  padding: 0.77em 1.5em;
  color: #fff;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  /* line 1, ../scss/partials/_sectionTitles.scss */
  .titleSection {
    padding: 1em 0.8em;
  }
}

/* line 13, ../scss/partials/_sectionTitles.scss */
.lightTitle {
  background: #f6f6f6;
}

/* line 17, ../scss/partials/_sectionTitles.scss */
.primeTitle {
  background: #2b79ec;
}

/* line 21, ../scss/partials/_sectionTitles.scss */
.darkTitle {
  background: #1550a4;
}

/* line 1, ../scss/partials/_sectionWrappers.scss */
.lightWrap {
  padding: 2.25em 17px;
  background: #f6f6f6;
  border: 1px solid #ebebeb;
}
@media only screen and (max-width: 550px) {
  /* line 1, ../scss/partials/_sectionWrappers.scss */
  .lightWrap {
    padding: 2.25em 0px;
  }
}

/* line 11, ../scss/partials/_sectionWrappers.scss */
.darkWrap {
  padding: 3.75em 4.375em;
  background: #1550a4;
}
@media only screen and (max-width: 992px) {
  /* line 11, ../scss/partials/_sectionWrappers.scss */
  .darkWrap {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  /* line 1, ../scss/sections/_addressHistory.scss */
  .addressData .floatR {
    float: none;
  }
}

/* line 7, ../scss/sections/_addressHistory.scss */
.addressData p {
  margin-left: 74px;
  padding: 0.6em 0;
  font-weight: bold;
  font-size: 1.25em;
  color: #2b79ec;
}
@media only screen and (max-width: 768px) {
  /* line 7, ../scss/sections/_addressHistory.scss */
  .addressData p {
    padding: 0.6em 1.5em 0em 0em;
    font-weight: normal;
  }
}

/* line 20, ../scss/sections/_addressHistory.scss */
.addressData span {
  padding: 1.3em 0 0 2em;
  font-size: 0.8em;
}

/* line 25, ../scss/sections/_addressHistory.scss */
span.currAddress, span.priorAddress {
  padding: 1.3em 0 0 0em;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  /* line 25, ../scss/sections/_addressHistory.scss */
  span.currAddress, span.priorAddress {
    font-size: 1em;
  }
}

/* line 34, ../scss/sections/_addressHistory.scss */
.priorAddress {
  color: #969696;
}

/* line 38, ../scss/sections/_addressHistory.scss */
.currAddress {
  color: #1ab86b;
}

/* line 42, ../scss/sections/_addressHistory.scss */
.viewDetails {
  color: #2b79ec;
}
/* line 45, ../scss/sections/_addressHistory.scss */
.viewDetails:after {
  padding-left: 5px;
  content: "\25BC";
  font-size: 0.75em;
}
/* line 51, ../scss/sections/_addressHistory.scss */
.viewDetails:hover {
  cursor: pointer;
}

/* line 56, ../scss/sections/_addressHistory.scss */
.additionalData {
  padding: 20px 0px;
}

/* line 1, ../scss/sections/_contactInfo.scss */
.personPhoto {
  width: 90px;
  margin-right: 0.28em;
  padding: 0.4em 0;
  background: #d6d9db;
  color: #fff;
  font-size: 3.125em;
  text-align: center;
}

/* line 11, ../scss/sections/_contactInfo.scss */
.personData {
  margin-bottom: 14px;
  color: #646c6c;
}
/* line 15, ../scss/sections/_contactInfo.scss */
.personData h1 {
  padding-bottom: 0.35em;
  font-size: 2.18em;
  font-weight: bold;
}
/* line 21, ../scss/sections/_contactInfo.scss */
.personData p {
  margin-left: 104px;
  padding-top: 0.27em;
  font-size: 1.125em;
}

/* line 28, ../scss/sections/_contactInfo.scss */
.map {
  width: 100%;
  height: 310px;
}
@media only screen and (max-width: 992px) {
  /* line 28, ../scss/sections/_contactInfo.scss */
  .map {
    height: 370px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 28, ../scss/sections/_contactInfo.scss */
  .map {
    height: 300px;
  }
}

@media only screen and (max-width: 720px) {
  /* line 1, ../scss/sections/_criminalRecords.scss */
  .criminalInfo {
    padding: 3em;
  }
}
@media only screen and (max-width: 605px) {
  /* line 1, ../scss/sections/_criminalRecords.scss */
  .criminalInfo {
    padding: 2.5em 0.5em;
  }
}

/* line 12, ../scss/sections/_criminalRecords.scss */
.criminalInfo h2 {
  font-size: 2em;
  font-weight: bold;
}
/* line 17, ../scss/sections/_criminalRecords.scss */
.criminalInfo p {
  padding: 2.5em 0em;
  line-height: 1.5em;
}
/* line 22, ../scss/sections/_criminalRecords.scss */
.criminalInfo h2, .criminalInfo p {
  color: #fff;
}

/* line 28, ../scss/sections/_criminalRecords.scss */
.criminalInfo .btnQuestion {
  margin-left: 20px;
  font-size: 1em;
}

/* line 33, ../scss/sections/_criminalRecords.scss */
.courtWrap {
  margin-top: 5.75em;
}
/* line 36, ../scss/sections/_criminalRecords.scss */
.courtWrap span {
  font-size: 3.75em;
}
/* line 40, ../scss/sections/_criminalRecords.scss */
.courtWrap .icon-court:before {
  padding: 1em;
  font-size: 1.37em;
  background: #2b79ec;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../scss/sections/_relative.scss */
.relativeData {
  padding: 4px 0px;
}

/* line 5, ../scss/sections/_relative.scss */
.name {
  width: 33%;
}
/* line 7, ../scss/sections/_relative.scss */
.titleWrap .name {
  margin-left: 74px;
}

/* line 12, ../scss/sections/_relative.scss */
.age {
  width: 10%;
}

/* line 16, ../scss/sections/_relative.scss */
.address {
  width: 28%;
}

/* line 20, ../scss/sections/_relative.scss */
.details {
  width: 18%;
  text-align: right;
}

/* line 26, ../scss/sections/_relative.scss */
.relativeData .name {
  font-size: 1.56em;
  color: #2b79ec;
}
/* line 31, ../scss/sections/_relative.scss */
.relativeData .age {
  font-weight: bold;
  font-size: 1.25em;
  color: #646c6c;
}
/* line 37, ../scss/sections/_relative.scss */
.relativeData .address {
  color: #646c6c;
}
/* line 41, ../scss/sections/_relative.scss */
.relativeData .details {
  color: #2b79ec;
}

@media only screen and (max-width: 992px) {
  /* line 48, ../scss/sections/_relative.scss */
  .relativeData .name, .relativeData .age, .relativeData .address {
    color: #2b79ec;
    font-size: 1.5em;
  }
  /* line 53, ../scss/sections/_relative.scss */
  .relativeData .name, .relativeData .age {
    width: auto;
    font-weight: bold;
  }
  /* line 58, ../scss/sections/_relative.scss */
  .relativeData .address {
    width: auto;
    display: block;
    margin-left: 74px;
  }
  /* line 64, ../scss/sections/_relative.scss */
  .relativeData .icon-people {
    padding-top: 0.4em;
  }
}
/* line 10, ../scss/sections/_footer.scss */
footer {
  margin-top: 75px;
  padding: 60px 20px 20px;
  border-top: 1px solid #ebebeb;
  background: #f7f7f7;
  font-size: 0.9375em;
  color: #808080;
}
/* line 18, ../scss/sections/_footer.scss */
footer a {
  font-size: 1em;
  color: #2b79ec;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 23, ../scss/sections/_footer.scss */
footer a:hover {
  color: #1550a4;
  font-weight: bold;
  text-decoration: none;
}

/* line 31, ../scss/sections/_footer.scss */
.findByAlphabet {
  padding-bottom: 35px;
  border-bottom: 1px solid #ebebeb;
}
/* line 35, ../scss/sections/_footer.scss */
.findByAlphabet a {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 1.13em;
  line-height: 1.5em;
}

/* line 43, ../scss/sections/_footer.scss */
.markerList {
  padding: 35px 0px;
  border-bottom: 1px solid #ebebeb;
}
/* line 47, ../scss/sections/_footer.scss */
.markerList li {
  display: inline-block;
}

/* line 52, ../scss/sections/_footer.scss */
footer .detail {
  padding: 35px 135px;
  border-bottom: 1px solid #ebebeb;
  line-height: 1.5em;
}

/* line 58, ../scss/sections/_footer.scss */
.sealIcon {
  padding-top: 35px;
}
/* line 61, ../scss/sections/_footer.scss */
.sealIcon a {
  padding: 0 10px;
}

/* line 66, ../scss/sections/_footer.scss */
.copyright {
  padding-top: 40px;
  color: #a7a7a7;
  font-size: 0.86em;
}
