@import "../partials/_buttons";
@import "../partials/_infoWrappers";
@import "../partials/_sectionTitles";
@import "../partials/_sectionWrappers";
@import "addressHistory";
@import "contactInfo";
@import "criminalRecords";
@import "relative";

.navigation {
  height: 62px;
  padding: 11px 0px;

  [class*="icon-"] {
    padding: 0px 0px 0px 30px ;
    font-size: 1.5em;
    color: $iconColor;
  }
}

.iconWrap {
  margin: 9px -7px;
}









