// Media queries
$breakXSmall: 550px;
$breakSmall: 768px;
$breakMiddle: 992px;
$breakLarge: 1200px;

// Color variables
$primeColor: #2b79ec;
$primeDarkColor: #1550a4;
$primeLightColor: #f6f6f6;
$secondColor: #1ab86b;
$additionalTextColor: #646c6c;
$titleColor: #fff;
$infoTextColor: #969696;
$bodyBackground: #fff;
$footerBackground: #f7f7f7;
$footerColor: #808080;
$infoWrapBg: #fff;
$btnLightBg: #e8e8e8;
$iconColor: #d6d9db;

// Font variables
$mainFontFamily: 'Proxima Nova', Arial, sans-serif;
$fontSizeBody: 16px;
$fontSizeBodyMd: 18px;
$fontSizeBodySm: 20px;
$fontSizeBodyXSm: 15px;

// Border variables
$borderInfoWrap: #ebebeb;